body {
    background-color:#DEDBD8;
    font-family: 'Segoe UI', sans-serif;
    width: 100%;
    margin:0
}

nav {
    background-color: #5171A5;
    display: flex;
    width: 100%;
    grid-gap: 1em;
   
    align-items: flex-end;
    flex-direction: column;
}

nav li {
    list-style: none;
    display: flex;
    gap: 2em;
    padding: 1em;
    color: white;
}

main
{
    display: flex;
    flex-direction: column;
    align-items: center;
}


aside {
    flex: 1;
    width: 40%;
    align-self: center;
    margin-top: 2em;
    float: right;
}   

.ticket {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1em;
    margin-bottom: 1em;
    width: 100%;
    list-style: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 1rem;
}


.grid-column h2 {
    text-align: center;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 0;
}

.ticket-id {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.ticket-person {
    font-style: italic;
    color: #555;
    align-self: flex-end
}

.grid-column {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

#board {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  flex-direction: row;
  gap: 1em;
  width: 90%;
}

.add-ticket-button {
    background-color: hsl(0, 2%, 52%);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
     text-align: center;
    padding: 1rem;
    margin-left: 1rem;
}