body {
    background-color:#DEDBD8;
    font-family: 'Segoe UI', sans-serif;
    width: 100%;
    margin:0
}

nav {
    background-color: #5171A5;
    display: flex;
    width: 100%;
    grid-gap: 1em;
   
    align-items: flex-end;
    flex-direction: column;
}

nav li {
    list-style: none;
    display: flex;
    gap: 2em;
    padding: 1em;
    color: white;
}

main
{
    margin: 2em;
}
