body {
    background-color:#DEDBD8;
    font-family: 'Segoe UI', sans-serif;
    width: 100%;
    margin:0
}

nav {
    background-color: #5171A5;
    display: flex;
    width: 100%;
    grid-gap: 1em;
   
    align-items: flex-end;
    flex-direction: column;
}

nav li {
    list-style: none;
    display: flex;
    gap: 2em;
    padding: 1em;
    color: white;
}

main
{
    flex-direction: column;
    margin: 1%;
    align-items: center;
    
}

.ticket {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1em;
    margin-bottom: 1em;
    width: 100%;
}

ol {
    list-style: none;
    padding: 1rem;
}

.ticket-id {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.ticket-person {
    font-style: italic;
    color: #555;
    align-self: flex-end
}

.grid-column {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

#board {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 1em;
  width: 100%;
}


